<table align="center">
  <tr>
    <td align="center">
      <font size="1">
        |
	<a href="/" name="Home">
          Home
        </a>
        |
        <a href="https://web.archive.org/web/20170626103317/http://www.wallymurphy.com/cards" name="Cards">
	  Cards
        </a>
        |
        <a href="https://web.archive.org/web/20170626103317/http://www.wallymurphy.com/contact" name="Contact">
          Contact
        </a>
        |
        <a href="/words" name="In Wally's Words...">
          In Wally's Words...
        </a>
        |
        <a href="https://web.archive.org/web/20170626103317/http://www.wallymurphy.com/sketches" name="Sketches">
          Sketches
        </a>
        |
        <a href="/statement" name="Statement">
          Statement
        </a>
        |
        <hr noshade height="2">
        &copy;2002 Wallace Murphy
      </font>
    </td>
  </tr>
</table>