<meta charset="UTF-8">
<title>WallyMurphy.com: Homepage</title>
<meta name="Copyright" content="©1999 Wallace Murphy">
<meta name="Author" content="RHS Linux User, wally@wallymurphy.com">
<meta name="Generator" content="WML 1.6.8 (12-01-1999)">
<meta name="Modified" content="30-11-19100 09:48:49">
<meta name="Created" content="August 1999">	
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body { padding-top:50px; }
</style>