<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/header', {sectionName: sectionName}); %>
    </header>
    <main>

      <table border="0" cellspacing="4" cellpadding="4" width="450" align="center">
	<tr>
	  <td valign="top">
	    <p>
	      Wally is now selling postcards and greeting cards, with these twelve
	      images on them. If you have any special requests, please contact us.
	      All cards come with envelopes; pricing is below.
	    </p>
	    <table border="0" cellpadding="4" cellspacing="4" width="90%" align="center">
	      <tr>
		<td>
		  <h4><a name="ToC1">Postcards:</a></h4>
		  <p>
		    <b>1 - 49:</b> $1.50 ea<br>
		    <b>50 - 500:</b> $1.25 ea<br>
		    <b>500+:</b> Negotiable
		  </p>
		</td>
		<td>
		  <h4><a name="ToC2">Greeting Cards:</a></h4>
		  <p>
		    <b>1 - 49:</b> $2.50 ea<br>
		    <b>50 - 500:</b> $2.00 ea<br>
		    <b>500+:</b> Negotiable
		  </p>
		</td>
	      </tr>
	    </table>
	    <table border="0" cellpadding="4" cellspacing="4" width="90%" align="center">
	      <tr>
		<td colspan="3" align="center"><h4>Postcards</h4></td>
	      </tr>
	      <tr>
		<td align="center">
		  <a href="/cards/PC1">
		    <img src="/images/cards/PC1-sml.jpg" border="0">
		    <br>
		    PC1
		  </a>
		</td>
		<td align="center">
		  <a href="/cards/PC2">
		    <img src="/images/cards/PC2-sml.jpg" border="0">
		    <br>
		    PC2
		  </a>
		</td>
		<td align="center">
		  <a href="/cards/PC3">
		    <img src="/images/cards/PC3-sml.jpg" border="0">
		    <br>
		    PC3
		  </a>
		</td>
	      </tr>
	      <tr> 
		<td align="center">
		  <a href="/cards/PC4">
		    <img src="/images/cards/PC4-sml.jpg" border="0">
		    <br>
		    PC4
		  </a>
		</td>
		<td align="center">
		  <a href="/cards/PC5">
		    <img src="/images/cards/PC5-sml.jpg" border="0">
		    <br>
		    PC5
		  </a>
		</td>
		<td align="center">
		  <a href="/cards/PC6">
		    <img src="/images/cards/PC6-sml.jpg" border="0">
		    <br>
		    PC6
		  </a>
		</td>
	      </tr>
	    </table>
	    <table border="0" cellpadding="4" cellspacing="4" width="90%" align="center">
	      <tr>
		<td colspan="3" align="center"><h4>Greeting Cards</h4></td>
	      </tr>
	      <tr>
		<td align="center">
		  <a href="/cards/TC1">
		    <img src="/images/cards/TC1-sml.jpg" border="0">
		    <br>
		    TC1
		  </a>
		</td>
		<td align="center">
		  <a href="/cards/TC2">
		    <img src="/images/cards/TC2-sml.jpg" border="0">
		    <br>
		    TC2
		  </a>
		</td>
		<td align="center">
		  <a href="/cards/TC3">
		    <img src="/images/cards/TC3-sml.jpg" border="0">
		    <br>
		    TC3
		  </a>
		</td>
	      </tr>
	      <tr>
		<td align="center">
		  <a href="/cards/TC4">
		    <img src="/images/cards/TC4-sml.jpg" border="0">
		    <br>
		    TC4
		  </a>
		</td>
		<td align="center">
		  <a href="/cards/TC5">
		    <img src="/images/cards/TC5-sml.jpg" border="0">
		    <br>
		    TC5
		  </a>
		</td>
		<td align="center">
		  <a href="/cards/TC6">
		    <img src="/images/cards/TC6-sml.jpg" border="0">
		    <br>
		    TC6
		  </a>
		</td>
	      </tr>
	    </table>
	    <br>
	  </td>
	</tr>
      </table>
      
    </main>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
</body>
</html>
