<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/header', {sectionName: sectionName}); %>
    </header>
    <main>
      <table border="0" cellspacing="4" cellpadding="4" width="450" align="center">
	<tr>
	  <td valign="top">
	    <p>These are some of Wally's sketches. Some are watercolors, some pen
	      and ink. They vary in size from 3x5 to 5.5x8.5. Most or all of
	      these will become
	      <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/cards">cards</a>
	      in the future - if there are certain images you'd like to see as cards, let me know.
	    </p>
	    <p>
	      You can also buy the original sketches. Prices range from $150 - $250.
	    </p>
	    <table border="0" width="450">
	      <tr>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=a16b">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/a16b.gif" alt="a16b.gif" title="a16b.gif" height="72" width="45" border="0"/>
		    <p align="center">
		      a16b
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=a17a">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/a17a.gif" alt="a17a.gif" title="a17a.gif" height="72" width="45" border="0"/>
		    <p align="center">
		      a17a
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle"><a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=a17b"><img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/a17b.gif" alt="a17b.gif" title="a17b.gif" height="72" width="45" border="0"/>
		    <p align="center">
		      a17b
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=a18a">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/a18a.gif" alt="a18a.gif" title="a18a.gif" height="72" width="53" border="0"/>
		    <p align="center">
		      a18a
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=a19a">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/a19a.gif" alt="a19a.gif" title="a19a.gif" height="72" width="43" border="0"/>
		    <p align="center">
		      a19a
		    </p>
		  </a>
		</td>
	      </tr>
	      <tr>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=a2b">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/a2b.gif" alt="a2b.gif" title="a2b.gif" height="70" width="100" border="0"/>
		    <p align="center">
		      a2b
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=a3a">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/a3a.gif" alt="a3a.gif" title="a3a.gif" height="60" width="100" border="0"/>
		    <p align="center">
		      a3a
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=a6b">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/a6b.gif" alt="a6b.gif" title="a6b.gif" height="72" width="44" border="0"/>
		    <p align="center">
		      a6b
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=a7a">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/a7a.gif" alt="a7a.gif" title="a7a.gif" height="72" width="43" border="0"/>
		    <p align="center">
		      a7a
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b10a">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b10a.gif" alt="b10a.gif" title="b10a.gif" height="72" width="100" border="0"/>
		    <p align="center">
		      b10a
		    </p>
		  </a>
		</td>
	      </tr>
	      <tr>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b10b">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b10b.gif" alt="b10b.gif" title="b10b.gif" height="72" width="48" border="0"/>
		    <p align="center">
		      b10b
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b11a">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b11a.gif" alt="b11a.gif" title="b11a.gif" height="72" width="50" border="0"/>
		    <p align="center">
		      b11a
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b11b">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b11b.gif" alt="b11b.gif" title="b11b.gif" height="72" width="45" border="0"/>
		    <p align="center">
		      b11b
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b12a">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b12a.gif" alt="b12a.gif" title="b12a.gif" height="72" width="44" border="0"/>
		    <p align="center">
		      b12a
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b12b">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b12b.gif" alt="b12b.gif" title="b12b.gif" height="72" width="47" border="0"/>
		    <p align="center">
		      b12b
		    </p>
		  </a>
		</td>
	      </tr>
	      <tr>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b13a">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b13a.gif" alt="b13a.gif" title="b13a.gif" height="72" width="43" border="0"/>
		    <p align="center">
		      b13a
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b13b">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b13b.gif" alt="b13b.gif" title="b13b.gif" height="72" width="46" border="0"/>
		    <p align="center">
		      b13b
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b14a">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b14a.gif" alt="b14a.gif" title="b14a.gif" height="72" width="44" border="0"/>
		    <p align="center">
		      b14a
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b14b">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b14b.gif" alt="b14b.gif" title="b14b.gif" height="72" width="47" border="0"/>
		    <p align="center">
		      b14b
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b15a">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b15a.gif" alt="b15a.gif" title="b15a.gif" height="62" width="100" border="0"/>
		    <p align="center">
		      b15a
		    </p>
		  </a>
		</td>
	      </tr>
	      <tr>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b15b">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b15b.gif" alt="b15b.gif" title="b15b.gif" height="72" width="51" border="0"/>
		    <p align="center">
		      b15b
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b16a">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b16a.gif" alt="b16a.gif" title="b16a.gif" height="72" width="43" border="0"/>
		    <p align="center">
		      b16a
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b16b">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b16b.gif" alt="b16b.gif" title="b16b.gif" height="72" width="43" border="0"/>
		    <p align="center">
		      b16b
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b17a">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b17a.gif" alt="b17a.gif" title="b17a.gif" height="72" width="44" border="0"/>
		    <p align="center">
		      b17a
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b17b">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b17b.gif" alt="b17b.gif" title="b17b.gif" height="72" width="46" border="0"/>
		    <p align="center">
		      b17b
		    </p>
		  </a>
		</td>
	      </tr>
	      <tr>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b18b">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b18b.gif" alt="b18b.gif" title="b18b.gif" height="72" width="45" border="0"/>
		    <p align="center">
		      b18b
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b19a">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b19a.gif" alt="b19a.gif" title="b19a.gif" height="55" width="100" border="0"/>
		    <p align="center">
		      b19a
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b19b">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b19b.gif" alt="b19b.gif" title="b19b.gif" height="62" width="100" border="0"/>
		    <p align="center">
		      b19b
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b1b">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b1b.gif" alt="b1b.gif" title="b1b.gif" height="62" width="100" border="0"/>
		    <p align="center">
		      b1b
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b20a">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b20a.gif" alt="b20a.gif" title="b20a.gif" height="62" width="100" border="0"/>
		    <p align="center">
		      b20a
		    </p>
		  </a>
		</td>
	      </tr>
	      <tr>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b20b">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b20b.gif" alt="b20b.gif" title="b20b.gif" height="62" width="100" border="0"/>
		    <p align="center">
		      b20b
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b21a">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b21a.gif" alt="b21a.gif" title="b21a.gif" height="72" width="44" border="0"/>
		    <p align="center">
		      b21a
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b23a">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b23a.gif" alt="b23a.gif" title="b23a.gif" height="72" width="48" border="0"/>
		    <p align="center">
		      b23a
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b2b">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b2b.gif" alt="b2b.gif" title="b2b.gif" height="72" width="46" border="0"/>
		    <p align="center">
		      b2b
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b3a">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b3a.gif" alt="b3a.gif" title="b3a.gif" height="63" width="100" border="0"/>
		    <p align="center">
		      b3a
		    </p>
		  </a>
		</td>
	      </tr>
	      <tr>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b3b">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b3b.gif" alt="b3b.gif" title="b3b.gif" height="71" width="100" border="0"/>
		    <p align="center">
		      b3b
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b4a">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b4a.gif" alt="b4a.gif" title="b4a.gif" height="72" width="46" border="0"/>
		    <p align="center">
		      b4a
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b4b">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b4b.gif" alt="b4b.gif" title="b4b.gif" height="63" width="100" border="0"/>
		    <p align="center">
		      b4b
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b4c">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b4c.gif" alt="b4c.gif" title="b4c.gif" height="72" width="53" border="0"/>
		    <p align="center">
		      b4c
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b5a">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b5a.gif" alt="b5a.gif" title="b5a.gif" height="72" width="52" border="0"/>
		    <p align="center">
		      b5a
		    </p>
		  </a>
		</td>
	      </tr>
	      <tr>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b5c">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b5c.gif" alt="b5c.gif" title="b5c.gif" height="69" width="100" border="0"/>
		    <p align="center">
		      b5c
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b6a">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b6a.gif" alt="b6a.gif" title="b6a.gif" height="72" width="48" border="0"/>
		    <p align="center">
		      b6a
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b6b">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b6b.gif" alt="b6b.gif" title="b6b.gif" height="72" width="46" border="0"/>
		    <p align="center">
		      b6b
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b7b">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b7b.gif" alt="b7b.gif" title="b7b.gif" height="72" width="44" border="0"/>
		    <p align="center">
		      b7b
		    </p>
		  </a>
		</td>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b9a">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b9a.gif" alt="b9a.gif" title="b9a.gif" height="72" width="57" border="0"/>
		    <p align="center">
		      b9a
		    </p>
		  </a>
		</td>
	      </tr>
	      <tr>
		<td align="center" valign="middle">
		  <a href="https://web.archive.org/web/20090322234619/http://www.wallymurphy.com/sketches/display?SKETCH_ID=b9b">
		    <img src="https://web.archive.org/web/20090322234619im_/http://www.wallymurphy.com/images/sketches/gif/b9b.gif" alt="b9b.gif" title="b9b.gif" height="62" width="100" border="0"/>
		    <p align="center">
		      b9b
		    </p>
		  </a>
		</td>
              </tr>
	    </table>
	    <br>
	  </td>
	</tr>
      </table>
    </main>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
</body>
</html>
