<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/header', {sectionName: sectionName}); %>
    </header>
    <main>
      <table border="0" cellspacing="4" cellpadding="4" width="450" align="center">
	<tr>
	  <td valign="top">
	    <p>
	      Wallace Murphy has been an artist all his life. His mother painted,
	      and she taught him while he was growing up. When he was 15, he
	      received a scholarship to study at the Emma Lake School of Art, under
	      Art McKay's instruction. He worked in a variety of fields - miner,
	      soldier, policeman - until in 1969, he was commissioned to illustrate
	      six books for the NWT Department of Education. Shortly thereafter, he
	      decided to become a teacher. He majored in Fine Arts, got his Bachelor
	      of Education degree, and moved North.
	    </p>
	    <p>
	      Wally lived in Inuvik for twelve years, teaching art at the high school
	      there for eight. While he was there, he grew as an artist. He painted
	      a series of oils, based on the Dempster highway; and another of pen and
	      inks based on Inuvik's 'Drunken Forest'. He had two exhibitions of his
	      work, was one of the founding members of the Inuvik Art Society, and
	      got his students to take their art to the streets - he and his high
	      school class were commissioned to do murals around Inuvik. He also
	      taught a number of workshops for adults: watercolor, drawing, and
	      stained glass.
	    </p>
	    <p>
	      In 1985, Wally and his family moved to northern Saskatchewan, to be
	      closer to his aging mother. They lived south for seven years. In
	      1992, Wally moved north again, to teach art in Rae Edzo, NWT. He built
	      a studio overlooking the black spruce at the edge of the tundra, and
	      in 1998, started exhibiting again. He's had a number of shows in
	      Saskatchewan and the NWT, including a retrospective of his work in
	      Yellowknife in August, 1999.
	    </p>
	    <p>
	      He now has
	      <a href="/cards">
		cards available
	      </a>.
	      Six images in postcard style, six images in greeting card style.
	      If you're interested in his work, you can contact
	      <!--
	      <a href="/contact">
		contact
	      </a>
	      -->
	      him.
	    </p>
	    <br>
	  </td>
	</tr>
      </table>
    </main>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
</body>
</html>
