<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/header'); %>
    </header>
    <main>
      <table border="0" cellspacing="4" cellpadding="4" width="450" align="center">
	<tr>
	  <table>	
	    <tr>
	      <td valign="top">
		<img src="/images/logos/quotes.gif" alt="" width="11" height="14">
	      </td>
	      <td>
		I was born in Killarney, Manitoba. My father died when I was eight years old.
		My mother taught in one room schoolhouses, and I lived with her from then on.
		I joined the army, became a policeman, married, had kids, worked as a miner and a
		welder and a few other jobs. I went to university and became a teacher myself.
		I started living farther and farther north - my wife grew up in the NWT, and we
		moved back up. I've been drawing and painting since I was a kid - my mother was an
		artist, and she taught me to love art.
	      </td>
	      <td valign="bottom">
		<img src="/images/logos/quotes.gif" alt="" width="11" height="14">
	      </td>
	    </tr>
	    <tr>
	      <td valign="top">
		<img src="/images/logos/quotes.gif" alt="" width="11" height="14">
	      </td>
	      <td>
		I did some illustration work in the early seventies, and worked throughout the
		seventies and early eighties, with pencil crayons, watercolors, pen and ink,
		stained glass, clay, oil, and acrylic.
	      </td>
	      <td valign="bottom">
		<img src="/images/logos/quotes.gif" alt="" width="11" height="14">
	      </td>
	    </tr>
	    <tr>
	      <td valign="top">
		<img src="/images/logos/quotes.gif" alt="" width="11" height="14">
	      </td>
	      <td>
		I paint because I have to. The images crowd my mind, and I need to get them down
		on canvas, down the right way. Whatever the image demands, that's the medium
		I'll use. I use a palette knife to work with inks, sometimes. I'm not sure if
		anybody else does that... I do. It gives the effect I'm going for.
	      </td>
	      <td valign="bottom">
		<img src="/images/logos/quotes.gif" alt="" width="11" height="14">
	      </td>
	    </tr>
	    <tr>
	      <td valign="top">
		<img src="/images/logos/quotes.gif" alt="" width="11" height="14">
	      </td>
	      <td>
		I have a strong desire to work with metal, with cement and stone. I want to work
		with the third dimension, and my work is moving towards that.
	      </td>
	      <td valign="bottom">
		<img src="/images/logos/quotes.gif" alt="" width="11" height="14">
	      </td>
	    </tr>
	    <tr>
	      <td valign="top">
		<img src="/images/logos/quotes.gif" alt="" width="11" height="14">
	      </td>
	      <td>
		I've been concentrating recently on landscapes and skyscapes, and I'm starting to
		focus on portraiture.
	      </td>
	      <td valign="bottom">
		<img src="/images/logos/quotes.gif" alt="" width="11" height="14">
	      </td>
	    </tr>
	    <tr>
	      <td valign="top">
		<img src="/images/logos/quotes.gif" alt="" width="11" height="14">
	      </td>
	      <td>
		Whenever I'm working on a piece, I'll find myself thinking about other pieces. I'll
		figure out how to finish something I'd put aside earlier, I'll come up with new
		paintings. Even when I'm working with pen and ink, I'll find myself coming up with
		conclusions to paintings in oil or acrylic. And until I figure out the right way to
		finish a piece, I won't feel comfortable with it, I won't be finished with it. Other
		pieces, they just fall off my brush, I'll sit down and I'll paint it and it'll just
		be right.
	      </td>
	      <td valign="bottom">
		<img src="/images/logos/quotes.gif" alt="" width="11" height="14">
	      </td>
	    </tr>
	    <tr>
	      <td valign="top">
		<img src="/images/logos/quotes.gif" alt="" width="11" height="14">
	      </td>
	      <td>
		Art is a very personal experience for me, very private. If I talk about my work,
		that seems to be where my energy goes, and I'd rather it go into the work itself.
	      </td>
	      <td valign="bottom">
		<img src="/images/logos/quotes.gif" alt="" width="11" height="14">
	      </td>
	    </tr>
	  </table>
        </tr>
      </table>
    </main>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
